# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/
ENV/
ENV/pyvenv.cfg

# Local environment variables
.env
.env.*

# Databases
*.sqlite3

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
Thumbs.db
db.db
Desktop.ini
